# requirements for development and testing
pre-commit==3.7.1
pytest==8.2.1
coverage-badge==1.1.2
pytest-cov==6.1.1


# kept in sync with airflow_src/requirements_airflow.txt,
# so we need to install it only for the unit tests
pandas==3.0.5
