# requirements for development and testing
pre-commit==3.7.1
pytest==8.2.1

# the apache/airflow:2.9.3 image comes with that pandas version,
# so we need to install it only for the unit tests
pandas==2.1.4
