# Optional requirements, only needed to run quanting jobs with the `docker` job engine
# (cf. jobs/docker_job_handler.py), which is meant for standalone deployments without a cluster.
docker==7.2.0 --constraint "https://raw.githubusercontent.com/apache/airflow/constraints-3.3.1/constraints-3.13.txt"
