# requirements for the airflow tasks
apache-airflow-providers-ssh==4.1.6 --constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.10.5/constraints-3.11.txt"

apache-airflow-providers-amazon==9.17.0 --constraint "https://raw.githubusercontent.com/apache/airflow/constraints-2.10.5/constraints-3.11.txt"
boto3==1.41.4 # pin to avoid pip resolution-too-deep error
pyarrow>=19.0.1 # fixes https://github.com/apache/arrow/issues/45283
sagemaker-studio==1.0.23 # pin to avoid pip resolution-too-deep error (1.1.x has heavy deps)
