# This file is used to configure the columns displayed in the web application.
# see the Column() class in overview.py for more information
# The order of the entries in this file determines the order of the columns in the table and the plots.
columns:
  # Front columns
  - name: "instrument_id"
  - name: "status"
  - name: "status_details"
  - name: "eta"
  - name: "size_gb"
    color_gradient: "green_is_high"
    plot: true
  - name: "file_created"
  - name: "gradient_length"
    color_gradient: "red_is_high"
    alternative_names:
      - "raw:gradient_length_m"
      - "gradient_length" # alphadia >= 2
  - name: "precursors"
    color_gradient: "green_is_high"
    plot: true
  - name: "proteins"
    color_gradient: "green_is_high"
    plot: true
  - name: "calibration_ms1_bias"
    color_gradient: "red_is_high"
    plot: true
    alternative_names:
      - "ms1_accuracy" # alphadia<=1.8.2
      - "calibration:ms1_median_accuracy"
      - "calibration:ms1_bias" # alphadia >= 2
  - name: "calibration_ms2_bias"
    color_gradient: "red_is_high"
    plot: true
    alternative_names:
      - "calibration:ms2_median_accuracy"
      - "calibration:ms2_bias" # alphadia >= 2

  - name: "msqc_evosep_pump_hp_pressure_max"
    plot: true
  - name: "msqc_ms1_median_injection_time"
    plot: true
  - name: "msqc_ms1_scans"
    plot: true
  - name: "msqc_ms1_median_tic"
    plot: true
  - name: "msqc_ms2_median_injection_time"
    plot: true
  - name: "msqc_ms2_scans"
    plot: true
  - name: "msqc_ms2_median_tic"
    plot: true

  - name: "fwhm_rt"
    color_gradient: "red_is_high"
    plot: true
  - name: "fwhm_mobility"
    color_gradient: "red_is_high"
    plot: true
  - name: "weighted_ms1_intensity_sum"
    color_gradient: "green_is_high"
    plot: true
    log_scale: true
  - name: "pg_intensity_sum"
    color_gradient: "green_is_high"
    plot: true
    log_scale: true
    alternative_names:
      - "intensity_sum"
      - "pg:intensity_sum" # alphadia >= 2
  - name: "ms1_error"
    color_gradient: "red_is_high"
    plot: true
    alternative_names:
      - "optimization:ms1_error"
  - name: "ms2_error"
    color_gradient: "red_is_high"
    plot: true
    alternative_names:
      - "optimization:ms2_error"
  - name: "rt_error"
    color_gradient: "red_is_high"
    plot: true
    alternative_names:
      - "optimization:rt_error"
  - name: "mobility_error"
    color_gradient: "red_is_high"
    plot: true
    alternative_names:
      - "optimization:mobility_error"
  - name: "precursor_charge_mean"
    color_gradient: "green_is_high"
    plot: true
    alternative_names:
      - "charge_mean"
      - "precursor:charge_mean" # alphadia >= 2
  - name: "precursor_proba_median"
    color_gradient: "green_is_high"
    plot: true
    alternative_names:
      - "proba_median"
      - "precursor:proba_median" # alphadia >= 2
  - name: "precursor_intensity_median" # do not confuse with "intensity_sum"
    color_gradient: "green_is_high"
    plot: true
  - name: "precursor_sequence_len_mean"
    color_gradient: "green_is_high"
    plot: true
    alternative_names:
      - "sequence_len_mean"
      - "precursor:sequence_len_mean" # alphadia >= 2
  # Technical plots
  - name: "lag_time_minutes"
    color_gradient: "red_is_high"
    at_end: true
  - name: "settings_version"
    at_end: true
    plot: true
  - name: "quanting_time_minutes"
    color_gradient: "red_is_high"
    plot: true
  - name: "duration_optimization"
    color_gradient: "red_is_high"
    plot: true
    at_end: true
  - name: "duration_extraction"
    color_gradient: "red_is_high"
    plot: true
    at_end: true

  # Hidden columns
  - name: "created_at"
    hide: true
  - name: "raw_file"
    hide: true
  - name: "file_info"
    hide: true
  - name: "_id"
    hide: true
  - name: "original_name"
    hide: true
  - name: "collision_flag"
    hide: true

  # columns that are not explicity hidden will be shown here

  # End columns
  - name: "project_id"
    at_end: true
  - name: "updated_at_"
    at_end: true
  - name: "created_at_"
    at_end: true
